%legend Resend confirmation instructions
.row-fluid
  .span12

    = horizontal_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      = f.h_email_field :email, :autofocus => true

      .form-actions
        = f.submit 'Resend confirmation instructions', class: 'btn btn-success', "data-disable-with" => "Sending instructions ..."

= render "devise/shared/links"
